{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>NutriTrack</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="{% static 'https://fonts.googleapis.com' %}" rel="preconnect">
  <link href="{% static 'https://fonts.gstatic.com' %}" rel="preconnect" crossorigin>
  <link href="{% static 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' %}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- drag and drop css-->
   <link href="{% static 'assets/css/upload.css' %}" rel="stylesheet">
</head>

<body class="track-page">

  <header id="header" class="header fixed-top">
    <!-- 
    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">contact@example.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>-->
    <!-- End Top Bar --> 

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1 class="sitename">NutriTrack</h1>
          <span>.</span>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            {% if user.is_authenticated %}
            <li><a href="/" class="active">Home<br></a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/#services">Services</a></li>
            <li><a href="/#team">Team</a></li>
            <!--<li><a href="blog.html">Blog</a></li> -->
            <!--<li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="#">Dropdown 1</a></li>
                <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                    <li><a href="#">Deep Dropdown 1</a></li>
                    <li><a href="#">Deep Dropdown 2</a></li>
                    <li><a href="#">Deep Dropdown 3</a></li>
                    <li><a href="#">Deep Dropdown 4</a></li>
                    <li><a href="#">Deep Dropdown 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Dropdown 2</a></li>
                <li><a href="#">Dropdown 3</a></li>
                <li><a href="#">Dropdown 4</a></li>
              </ul>
            </li> -->
            <li><a href="/contact">Contact</a></li>
            <li><a href="register">Logout</a></li>
            {% else %}
            <li><a href="/" class="active">Home<br></a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/#services">Services</a></li>
            <li><a href="/#team">Team</a></li>
            <!--<li><a href="blog.html">Blog</a></li> -->
            <!--<li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="#">Dropdown 1</a></li>
                <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                    <li><a href="#">Deep Dropdown 1</a></li>
                    <li><a href="#">Deep Dropdown 2</a></li>
                    <li><a href="#">Deep Dropdown 3</a></li>
                    <li><a href="#">Deep Dropdown 4</a></li>
                    <li><a href="#">Deep Dropdown 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Dropdown 2</a></li>
                <li><a href="#">Dropdown 3</a></li>
                <li><a href="#">Dropdown 4</a></li>
              </ul>
            </li> -->
            <li><a href="/contact">Contact</a></li>
            <li><a href="login">Login</a></li>
            {% endif %}
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

      </div>
    </div>
  </header>
  <div class="upload">
        <h1>UPLOAD PICTURE</h1>
        <form method="POST" enctype="multipart/form-data" action="{% url 'upload_image' %}">
            {% csrf_token %}
        <div class="hero">
          <label for="input-file" id="drop-area"> 
            <!--<input type="file" accept="image/*" id="input-file" hidden name="image">-->
            {{form.image}}
            <div id="img-view">
              <img src="{% static 'assets/img/508-icon.png' %}">
              <p>Drag and drop or click here<br>to upload image</p> 
              <span>Upload any images from desktop</span>
            </div>
          </label>
        </div>
        <button type="submit" style="background-color: #009879; color: white; border-radius: 25px; border: none; padding: 10px;"> Show Nutrition Profile</button>
      </form>
  </div>
  <div class="nutritionSection">
    <table id="nutritionTable" class="mx-auto" style="border-radius: 15px;">
    {% for key, value in response.items %}
      {% if key == "food" or key == "serving_size" %}
      <thead>
        <tr>
          <th>{{key}}</th>
          <th>{{value}}</th>
        </tr>
      </thead>
      {% endif %}
      <tbody>
      {% if key != "food" and key != "serving_size" %}
      <tr>
        <td>{{key}}</td>
        <td>{{value}}</td>
      </tr>
      {% endif %}
    </tbody>
    {% endfor %}
    </table>
  </div>
  <footer id="footer" class="footer accent-background" style="margin-top: 50px;">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">NutriTrack</span>
          </a>
          <p>Your health, our priority.</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="col-lg-2 col-6 footer-links"></div>
        <!--
        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>
      -->
        <div class="col-lg-2 col-6 footer-links"></div>
        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p> Dr. Vishnuvardhana Road Post, RNS Farms Rd, Channasandra, Rajarajeshwari Nagar, Bengaluru, Karnataka 560098</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+91 5589554885</span></p>
          <p><strong>Email:</strong> <span>nutritracksupport@gmail.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">NutriTrack</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
      </div>
    </div>

  </footer>


</body>
<script>
  const dropArea = document.getElementById("drop-area");
  const inputFile = document.getElementById("input-file");
  const imageView = document.getElementById("img-view");


  inputFile.addEventListener("change", uploadImage);
  function uploadImage(){
      let imgLink = URL.createObjectURL(inputFile.files[0]);
      imageView.style.backgroundImage = `url(${imgLink})`;
      imageView.style.backgroundSize = "contain";
      imageView.style.backgroundRepeat = "no-repeat";
      imageView.style.backgroundPosition = "center";
      imageView.style.width = "100%";
      imageView.style.height = "100%";
      imageView.textContent = "";
      imageView.style.border = 0;
  }
  dropArea.addEventListener("dragover", function(e) {
      e.preventDefault();
  });
  dropArea.addEventListener("drop", function(e){
      e.preventDefault();
      inputFile.files = e.dataTransfer.files;
      uploadImage();
  });
</script>
</html>